In [1]:
!pip install ipython-gpt

Requirement already satisfied: ipython-gpt in /home/luis/anaconda3/lib/python3.8/site-packages (0.0.6)
Requirement already satisfied: ipython<9.0.0,>=8.12.0 in /home/luis/anaconda3/lib/python3.8/site-packages (from ipython-gpt) (8.12.2)
Requirement already satisfied: backcall in /home/luis/anaconda3/lib/python3.8/site-packages (from ipython<9.0.0,>=8.12.0->ipython-gpt) (0.2.0)
Requirement already satisfied: decorator in /home/luis/anaconda3/lib/python3.8/site-packages (from ipython<9.0.0,>=8.12.0->ipython-gpt) (5.1.0)
Requirement already satisfied: jedi>=0.16 in /home/luis/anaconda3/lib/python3.8/site-packages (from ipython<9.0.0,>=8.12.0->ipython-gpt) (0.17.2)
Requirement already satisfied: matplotlib-inline in /home/luis/anaconda3/lib/python3.8/site-packages (from ipython<9.0.0,>=8.12.0->ipython-gpt) (0.1.2)
Requirement already satisfied: pickleshare in /home/luis/anaconda3/lib/python3.8/site-packages (from ipython<9.0.0,>=8.12.0->ipython-gpt) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /home/luis/anaconda3/lib/python3.8/site-packages (from ipython<9.0.0,>=8.12.0->ipython-gpt) (3.0.38)
Requirement already satisfied: pygments>=2.4.0 in /home/luis/anaconda3/lib/python3.8/site-packages (from ipython<9.0.0,>=8.12.0->ipython-gpt) (2.10.0)
Requirement already satisfied: stack-data in /home/luis/anaconda3/lib/python3.8/site-packages (from ipython<9.0.0,>=8.12.0->ipython-gpt) (0.6.2)
Requirement already satisfied: traitlets>=5 in /home/luis/anaconda3/lib/python3.8/site-packages (from ipython<9.0.0,>=8.12.0->ipython-gpt) (5.1.0)
Requirement already satisfied: typing-extensions in /home/luis/anaconda3/lib/python3.8/site-packages (from ipython<9.0.0,>=8.12.0->ipython-gpt) (3.10.0.2)
Requirement already satisfied: pexpect>4.3 in /home/luis/anaconda3/lib/python3.8/site-packages (from ipython<9.0.0,>=8.12.0->ipython-gpt) (4.8.0)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /home/luis/anaconda3/lib/python3.8/site-packages (from jedi>=0.16->ipython<9.0.0,>=8.12.0->ipython-gpt) (0.7.0)
Requirement already satisfied: ptyprocess>=0.5 in /home/luis/anaconda3/lib/python3.8/site-packages (from pexpect>4.3->ipython<9.0.0,>=8.12.0->ipython-gpt) (0.7.0)
Requirement already satisfied: wcwidth in /home/luis/anaconda3/lib/python3.8/site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython<9.0.0,>=8.12.0->ipython-gpt) (0.2.5)
Requirement already satisfied: executing>=1.2.0 in /home/luis/anaconda3/lib/python3.8/site-packages (from stack-data->ipython<9.0.0,>=8.12.0->ipython-gpt) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /home/luis/anaconda3/lib/python3.8/site-packages (from stack-data->ipython<9.0.0,>=8.12.0->ipython-gpt) (2.2.1)
Requirement already satisfied: pure-eval in /home/luis/anaconda3/lib/python3.8/site-packages (from stack-data->ipython<9.0.0,>=8.12.0->ipython-gpt) (0.2.2)
Requirement already satisfied: six in /home/luis/anaconda3/lib/python3.8/site-packages (from asttokens>=2.1.0->stack-data->ipython<9.0.0,>=8.12.0->ipython-gpt) (1.16.0)
WARNING: Error parsing requirements for matplotlib: [Errno 2] No such file or directory: '/home/luis/anaconda3/lib/python3.8/site-packages/matplotlib-3.3.4.dist-info/METADATA'

In [2]:
%load_ext ipython_gpt

In [3]:
%%chat --max-tokens=25

What's the purpose of life?

<div style='width:60%;margin-left:5%;overflow: scroll;max-height:500px'>

As an AI language model, I do not have personal beliefs or opinions. The purpose of life is subjective and can vary from

</div>

Object `spanish` not found.

In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('PN-candidates-aller.csv')

In [11]:
df.head()

,ID,RA,DEC,u_PStotal,J0378_PStotal,J0395_PStotal,J0410_PStotal,J0430_PStotal,g_PStotal,J0515_PStotal,...,e_J0395_PStotal,e_J0410_PStotal,e_J0430_PStotal,e_g_PStotal,e_J0515_PStotal,e_r_PStotal,e_J0660_PStotal,e_i_PStotal,e_J0861_PStotal,e_z_PStotal
0,DR3.HYDRA-0026.050342,158.855358,-24.748192,19.067427,18.508986,18.964823,19.348494,19.000832,18.663876,18.935287,...,0.080455,0.119990,0.081880,0.027136,0.066859,0.027556,0.009116,0.064927,0.129110,0.078092
1,DR3.SPLUS-s29s46.072842,316.473196,-37.144562,16.424940,16.430645,16.393665,16.536879,16.533760,16.472448,16.822866,...,0.013612,0.012252,0.011860,0.004634,0.010763,0.005544,0.004280,0.007932,0.018400,0.013645
2,DR3.SPLUS-n15s05.030293,156.192221,-18.642301,11.614327,11.610277,11.617453,11.760632,11.777978,11.790471,12.091759,...,0.001532,0.001425,0.001421,0.000624,0.001372,0.000708,0.000562,0.000871,0.001652,0.001166
3,DR3.SPLUS-n15s05.030347,156.192404,-18.640259,13.979157,14.111893,13.513956,14.429493,13.812301,12.277587,14.090717,...,0.003713,0.005078,0.003709,0.000782,0.003533,0.001159,0.000538,0.002041,0.004123,0.002507
4,DR3.SPLUS-n15s05.044526,156.193295,-18.644074,13.660460,13.764969,13.152609,14.099626,13.472686,11.901996,13.737191,...,0.003131,0.004314,0.003150,0.000657,0.002979,0.000983,0.000534,0.001721,0.003521,0.002035

In [12]:
df['ID'].describe()

count                        14
unique                       14
top       DR3.HYDRA-0026.050342
freq                          1
Name: ID, dtype: object

In [13]:
%%chat --reset-conversation

How can I avoid pandas using scientific notation in outputs, and do it globally?

<div style='width:60%;margin-left:5%;overflow: scroll;max-height:500px'>

You can set the display option for pandas to avoid scientific notation as follows:

```
import pandas as pd

# Set display options
pd.set_option('display.float_format', lambda x: '%.2f' % x)

# Now pandas will display floats with 2 decimal points instead
```

This will ensure that pandas doesn't use scientific notation in its outputs and instead displays floats with 2 decimal points. You can insert this code at the beginning of your script for a global effect.

</div>

In [14]:
%%chat --reset-conversation

Do you speak spanish?

<div style='width:60%;margin-left:5%;overflow: scroll;max-height:500px'>

Sí, hablo español. ¿En qué puedo ayudarte?

</div>

In [15]:
Cómo te llamas?

Object `llamas` not found.

In [16]:
%%chat --reset-conversation

Cómo te llmas?

<div style='width:60%;margin-left:5%;overflow: scroll;max-height:500px'>

¡Hola! Soy un asistente de codificación de ciencia de datos en Python, pero puedes llamarme como quieras. ¿En qué puedo ayudarte hoy?

</div>

In [17]:
%%chat

Can you be more concise? Just give me the code

<div style='width:60%;margin-left:5%;overflow: scroll;max-height:500px'>

Sure, what do you need the code for? Please give me some context and details so that I can provide you with an appropriate code solution.

</div>

In [18]:
%%chat

 for set pandas options to not display values in scientific notation

<div style='width:60%;margin-left:5%;overflow: scroll;max-height:500px'>

To set the pandas options to not display values in scientific notation, you can use the `pd.options.display.float_format` property and set it to `'{:.2f}'.format` or any other format you need.

Here's an example code to achieve that:

```python
import pandas as pd

# create a sample dataframe
df = pd.DataFrame({'Values': [1000000, 0.0001, 123.456789]})

# set the display format to not use scientific notation
pd.options.display.float_format = '{:.2f}'.format

# display the dataframe
print(df)
```

This should display the float values of the dataframe without using scientific notation. You can adjust the decimal places or the format to your preferred display style.

</div>

In [19]:
df = pd.DataFrame({'Values': [1000000, 0.0001, 123.456789]})

In [20]:
# set the display format to not use scientific notation
pd.options.display.float_format = '{:.2f}'.format

In [21]:
print(df)

      Values
0 1000000.00
1       0.00
2     123.46

In [22]:
%%chat --system-message="You're a R Data Science assistant" --reset-conversation

UsageError: %%chat is a cell magic, but the cell body is empty.

In [23]:
%chat_config

<div style='width:60%;margin-left:5%;overflow: scroll;max-height:500px'>


##### Conf set:

* **Default model**: gpt-3.5-turbo
* **Default system message**: You're a python data science coding assistant
* **Chat history length**: 4


</div>

In [24]:
%chat_models

<div style='width:60%;margin-left:5%;overflow: scroll;max-height:500px'>

##### Available models:

	- gpt-3.5-turbo
	- gpt-3.5-turbo-0301

</div>